
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  @apply scroll-smooth
}
::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar:hover {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.btn-primary{
 @apply bg-cyan-600 font-semibold text-white md:mx-0 mx-auto rounded-full py-3 px-6 flex items-center gap-2
}
.aboutimg {
  position: relative;
  z-index: 1;
}
.aboutimg::after{
 @apply content-[''] w-full left-0 top-0 rounded-xl rotate-12 h-[500px] absolute bg-gray-600 -z-10;
}
.swiper-pagination-bullet{
 @apply bg-white
}
input,textarea{
@apply bg-gray-700 outline-none rounded-lg p-3
}
::placeholder{
 @apply text-lg
}
::selection{
 @apply bg-cyan-600
}
.btn {
    @apply py-2 px-9 border-2 rounded-md
     border-dark_primary rounded-br-3xl font-medium;
  }
.animate__animated.animate__bounce{
  --animate-duration:2s
} 
 .nav a{
  position:relative;
 }
  .nav a::after {
    content: "";
  position: absolute;
  left: 0;
  bottom:-6px;
  width: 100%;
  height: 2px;
  background-color: white;
  border-radius: 9999px;
  transform:translateY(10px);
  transition:.5s;
  opacity:0;
  
    /* Other styles */
  }
  .nav a:hover::after{
    transform:translateY(0);
    opacity:1;
  }
  .nav4 a{
    position:relative;
  }
  .nav4 a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-6px;
    width:100%;
    height:2px;
    background-color:white;
    border-radius:5px;
    transform:scaleX(0);
    transform-origin:right;
    transition:transform .5s;

  }
  .nav4 a:hover::after{
    transform-origin:left;
    transform:scaleX(1);
  }
  .log.active-popup{
    transform:scale(1);
  }
  .log{
    box-shadow:0 0 30px rgba(0,0,0,0.5);
    transition:transform .5s ease;
    transform:scale(0);

  }
  .input{
   position:relative;
   width:340px;
   height:40px;
   border-bottom:2px solid #e4e4e4;
   margin:30px 0;
  }
  .input input{
    width:100%;
    height:100%;
    background:transparent;
    border:none;
    outline:none;
    font-size:16px;
    font-weight:500;
    color:#e4e4e4;
    padding-right:28px;
  }
  .input input:focus ~ label,
  .input input:not(:placeholder-shown) ~ label {
    top: -10px;
    /* font-size: 12px;
    color: #555; */
    transform: translateY(0);
  }
  .input .icon{
   position:absolute;
   right:0;
   top:13px;
   font-size:19px;
  }
  .input label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  font-size: 16px;
  color: #999;
  transition: all 0.5s ease;
  pointer-events:none;
}

.backdrop {
  backdrop-filter: blur(10px);
}
.logreg-box .form-box.login{
  transform:translateX(0);
  transition:transform .6s ease;
  transition-delay:.7s;
}
.logreg-box.active .form-box.login{
  transform:translateX(430px);
  transition-delay:0s;
}
.logreg-box.active .form-box.register{
  transform:translateX(0);
  transition-delay:0.7s;
}
/* animated text */
.text{

}
.text .sec-text{
  text-shadow:0 0 10px #0ef;
  overflow:hidden;
  height:85px;
  line-height:90px;
 
}
.sec-text li{
  position:relative;
  top:0;
  animation:slide 12s steps(3) infinite,colorful 6s infinite ;
}
@keyframes slide{
  100%{
    top:-280px;
  }
}
@keyframes colorful{
  100%{
    filter:hue-rotate(360deg);
  }
}
.sec-text li span{
  position:relative;
}
.sec-text li span::before{
  content:"";
  position:absolute;
  left:0;
  width:360px;
  height:90px;
  background:black;
  border-left:2px solid #0ef;
  animation:typing 1.3s steps(18) infinite alternate;
}
@keyframes typing{
  100%{
    left:100%;
    margin:0 -35px 0 35px;
  }
}
/* animated navbars */
.animated-nav{
  /* position:relative; */
}
/* .animated-nav:hover .animated-nav-span {
  left: 0px;
} */

/* .animated-nav:hover .animated-nav-span {
  left: 0px;
}

 */
 .animated-nav a{
  position:relative;
  display:inline-block;
  font-size:1em;
  color:#fff;
  padding:0 23px;
  z-index:1;
 }
 .animated-nav a:nth-child(1):hover~span{
  left:0;
 }
 .animated-nav a:nth-child(2):hover~span{
  left:95px;
 }
 .animated-nav a:nth-child(3):hover~span{
  left:189px;
 }
 .animated-nav a:nth-child(4):hover~span{
  left:290px;
 }
 .animated-nav a:nth-child(5):hover~span{
  left:400px;
  
 }

 /* .animated-nav > a.active:hover ~ .animated-nav-span,
 .animated-nav > a:hover:not(.active) ~ .animated-nav-span {
   left: 95px;
   
 }
.animated-nav > a:hover[data-index="0"] ~ .animated-nav-span {
  left: 0px;
}

.animated-nav > a:hover[data-index="1"] ~ .animated-nav-span {
  left: 95px;
}

.animated-nav > a:hover[data-index="2"] ~ .animated-nav-span {
  left: 190px;
}

.animated-nav > a:hover[data-index="3"] ~ .animated-nav-span {
  left: 298px;
} */


.animated-nav span{
  position:absolute;
  top:0;
  left:0;
  width:95px;
  height:100%;
  background:linear-gradient(45deg,#2e3192,#1bffff);
  border-radius:8px;
  transition: left 0.3s ease-in-out;
  
}
.animated-nav2{
  z-index:0;
}
.animated-nav2 a{
  position:relative;
  padding:6px 20px;
  transition:.5s;
  z-index:1;
  margin-right:4px;

}
.animated-nav2 a:hover{
  color:#0ef;
}
.animated-nav2 a span{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
  border-bottom:2px solid #0ef;
  border-radius:15px;
  transform:scale(0) translateY(50px);
  transition:.5s;
  opacity:0;
}
.animated-nav2 a:hover span {
  transform:scale(1) translateY(0);
  opacity:1;
}
/* animated nav3 */
.navigation{
  position:relative;
  width:400px;
  height:70px;
  background:linear-gradient(45deg ,#2196f3,#e91e63);
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:8px;
}
.navigation ul{
  display:flex;
 margin-top:40px;
  width:350px;
}
.navigation ul li{
  position:relative;
  width:70px;
  height:70px;
  z-index:1;
}
.navigation ul li a{
  position:relative;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  text-align:center;
  font-weight:500;
}
.navigation ul li a .icon{
  position:relative;
  display:block;
  margin-bottom: 50px;
  font-size:1.5em;
  text-align:center;
  color:#fff;
  transition:.5s;
}
.navigation ul li.active a .icon{
  transform:translateY(-32px);
}
.navigation ul li a .text{
  position:absolute;
  color:#fff;
  font-weight:400;
  transform:transltateY(20px);
  font-size:.75em;
  letter-spacing:.05em;
  opacity:0;
  transition:.5s;
}
.navigation ul li.active a .text{
  transform:translateY(-10px);
  opacity:1;
}
.navigation ul li a .circle{
  position:absolute;
  display:block;
  width:50px;
  height:50px;
  background:transparent;
  border-radius:50%;
  border:1px solid #fff;
  transform:translateY(-58px) scale(0);
}
.navigation ul li.active a .circle{
  transition:.5s;
  transition-delay:.5s;
  transform:translateY(-58px) scale(1);
  
}
.indicator{
  position:absolute;
  width:70px;
  height:70px;
  background:linear-gradient(45deg ,#2196f3,#e91e63);
  border:6px solid #06021b;
  border-radius:50%;
  top:-50%;
  display:flex;
  align-items:center;
  justify-content:center;
  transition:.5s;
}
.indicator::before{
  content:"";
  position:absolute;
  top:50%;
  left:-22px;
  width:20px;
  height:20px;
  background:transparent;
  border-top-right-radius:20px;
  box-shadow:1px -10px 0 #06021b;

}
.indicator::after{
  content:"";
  position:absolute;
  top:50%;
  right:-22px;
  width:20px;
  height:20px;
  background:transparent;
  border-top-left-radius:20px;
  box-shadow:-1px -10px 0 #06021b;

}
.navigation ul li:nth-child(1).active~.indicator{
  transform:translateX(calc(70px *0))
}
.navigation ul li:nth-child(2).active~.indicator{
  transform:translateX(calc(70px *1))
}
.navigation ul li:nth-child(3).active~.indicator{
  transform:translateX(calc(70px *2))
}
.navigation ul li:nth-child(4).active~.indicator{
  transform:translateX(calc(70px *3))
}
.navigation ul li:nth-child(5).active~.indicator{
  transform:translateX(calc(70px *4))
}
.select-menu{
  width:380px;
  margin:150px auto;
}
.select-menu .select-btn{
  position:relative;
  top:-140px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.select-menu .list{
  position:absolute;
  width:380px;
  transform:translateY(-140px);
  margin-top:10px;
}
.select-btn .icon-arrow{
  transition:1s;
}
.select-btn.active .icon-arrow{

  transform:rotate(180deg);
}
.list .option{
  display:flex;
  align-items:center;
  width:100%;
  height:55px;
  background:#fff;
  padding:0 16px;
  cursor:pointer;
  color:black;
  transform-origin:top;
  opacity:0;
  transform:scale(0) translateY(-65px);
  margin-bottom:-55px;
  transition:opacity .5s ease-in-out,transform .5s ease-in-out, margin-bottom .5s ease-in-out;
  transition-delay:calc(.1s*var(--i));
}
.select-btn.active~.list .option{
  transition:opacity .5s ease-in-out,transform .5s ease-in-out, margin-bottom .2s ease-in-out;
  transition-delay:calc(.1s*var(--i));
  opacity:1;
  transform:scale(1) translateY(0);
  margin-bottom:0;
}
.list .option:hover{
  background:#f2f2f2;
}
.list .option:nth-child(1){
  border-top-left-radius:8px;
  border-top-right-radius:8px;
}
.list .option:nth-child(5){
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
}
.option .icon{
  font-size:25px;
  margin-right:12px;
}
.box{

 
}
.dropdown .left-icon,.dropdown .right-icon{
  position:relative;
  top:2px;
  display:inline-black;
  width:15px;
  height:5px;
  background:#fff;
  border-radius:40px;
  transition:.5s;
}
.dropdown .left-icon{
  left:7px;
  transform:rotate(45deg);
}
.dropdown.active .left-icon{
  transform:rotate(135deg);
}
.dropdown.active .right-icon{
  transform:rotate(-135deg);
}
.dropdown .right-icon{
  
  transform:rotate(-45deg);
}
.dropdown .items{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:160px;
  margin-top:63px;
  overflow:hidden;
  visibility:hidden;
  transition:.5s;
}
.dropdown.active .items{
  visibility:visible;
}
.dropdown .items a{
  position:relative;
  left:100%;
  display:flex;
  font-size:20px;
  background:#fff;
  color:#4F46E5;
  border-radius:5px;
  padding:10px 15px;
  margin-top:2px;
  z-index:1;
  overflow:hidden;
  transition:.5s;
  transition-delay:calc(60ms*var(--i));
}
.dropdown.active .items a{
  left:0;
}
.dropdown .items a:hover{
  color:#fff;
}
.dropdown .items a span{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#7E7DFF;
  z-index:-1;
  border-radius:inherit;
  transform:rotate(160deg);
  transform-origin:right;
  transition:.5s;
}
.dropdown .items a:hover span{
  transform:rotate(0deg);
}
ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

ReactModal__Overlay--after-open {
  opacity: 1;
}

ReactModal__Overlay--before-close {
  opacity: 0;
}

ReactModal__Content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: none;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: auto;
  outline: none;
}
